@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
}

#root {
  height: 100%;
}

.ant-slider-dot-active {
  border-color: #047857;
}

.ant-slider-handle:focus {
  box-shadow: 0 0 0 5px rgb(4 120 87 / 12%);
}

.ant-message-custom-content {
  display: flex;
  align-items: center;
}

.ant-btn-icon-only {
  vertical-align: -5px;
}

.ant-upload.ant-upload-select-picture-card:hover {
  border-color: #047857;
}

.ant-btn:only-child {
  border-radius: 0.25rem !important;
  padding-top: 1.438rem;
  padding-bottom: 1.438rem;
}

ant-btn::selection {
  background-color: white;
}

.ant-btn:hover,
.ant-btn:focus {
  color: black;
}
